{% extends "layouts/public.html" %}
{% block title %}{{ item.title }} - Fast Boiler{% endblock %}
{% block content %}
  {% set page_eyebrow = "News Detail" %}
  {% set page_title = item.title %}
  {% set page_description = item.excerpt if item.excerpt else "Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}
  {% include "components/marketing/_page_header.html" %}

  <article class="card mb-8">
    <div class="mb-4">{{ item.content }}</div>
    <p><a class="text-sm text-brand hover:underline" href="/news">Back to news</a></p>
  </article>

  {% set cta_title = "Want to publish your own update?" %}
  {% set cta_description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curate and publish articles in minutes via the admin dashboard." %}
  {% set cta_primary_label = "Login to Dashboard" %}
  {% set cta_primary_href = "/admin" %}
  {% include "components/marketing/_cta_footer.html" %}
{% endblock %}
